<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trendledger.mapper.SurveyResponseMapper">

	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO survey_responses (profile_id, survey_type, survey_version, question_code, selected_option)
		VALUES
		<foreach collection="list" item="r" separator=",">
			(#{r.profileId}, #{r.surveyType}, #{r.surveyVersion}, #{r.questionCode}, #{r.selectedOption})
		</foreach>
	</insert>

	<select id="findLatestAnswers" resultType="com.trendledger.domain.SurveyAnswerRow">
		SELECT DISTINCT ON (survey_type, question_code)
			survey_type      AS surveyType,
			question_code    AS questionCode,
			selected_option  AS selectedOption
		FROM survey_responses
		WHERE profile_id = #{profileId}
		ORDER BY survey_type, question_code, response_id DESC
	</select>

	<delete id="deleteByProfileId">
		DELETE FROM survey_responses WHERE profile_id = #{profileId}
	</delete>

</mapper>
